$cloudveilBlue:#50AADF;
$cloudveilplatinum:#E0E0E0;
$cloudveilGold:#D48C3C;
$cloudveilGrey:#6D6D6D;
$cloudveilWhite:#FFFFFF;
$cloudveilBlack:#000;

@font-face {
    font-family: Main;
    src: url('./fonts/cloudveil_font.otf');
  }
  
  .font {
    font-family: Main;
  }
.App{
    padding:0;
    margin:0;
}
html {
    padding: 0;
    margin: 0;
    width: 100%;
  }
//header style
.header{
    background-color:$cloudveilGrey;
    display:flex;
    padding:0;
    margin:0;
    height:15vh;
    width:100%;
}
.loginField{
  height:1.1vh;
  width:15vh;
}
.loginArea{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-gap: 0;
}

//main area style

.mainArea{
  display:grid;
  grid-template-columns: repeat(2, 1fr)
}
.top-bar {
  display: flex;
  height:50px;
  flex-direction: row;
  justify-content: space-around;
  background-color: $cloudveilBlue;

  .navigation {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .navigation:hover{
    background-color: $cloudveilGold;
  }
}

.userBlock{
  border: 1px double black
}
.day-counter{
  display:flex;
}